{% extends 'video/base.html' %}

{% block title %}Lobby - ThoriumCall{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">ThoriumCall Lobby</h1>
            {% if user.is_authenticated %}
                <div class="card p-4 shadow-sm">
                    <h2 class="card-title text-center mb-3">Enter a room name to join or create</h2>
                    <div class="input-group mb-3">
                        <input type="text" id="room-name-input" class="form-control" placeholder="Room Name" aria-label="Room Name">
                        <button class="btn btn-primary" type="button" id="join-room-button">Join</button>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info text-center" role="alert">
                    Please login or register to join a room.
                </div>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
    {% block extra_js %}
    <script>
        document.querySelector('#join-room-button').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            if (roomName) {
                window.location.pathname = '/' + roomName + '/';
            } else {
                alert('Please enter a room name.');
            }
        };

        document.querySelector('#room-name-input').addEventListener('keyup', function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#join-room-button').click();
            }
        });
    </script>
    {% endblock %}
    {% endif %}
{% endblock %}
